* {
	padding: 0;
	margin: 0;
}

body {
	background-color: grey;
}

main {
	border : 2px solid black;
	margin : 0 auto;
	
}

table {
	tr {
		td, th {
			
		}

		td {
			
		}

		th {
			
		}
	}
}

form {

}

form input[type="submit"] {

}

form input[type="submit"]:hover {

}

form input:not([type="submit"]) {

}