* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

main {
	margin-top: 150px;
	background-color: white;
	border : 2px solid grey;
	margin : 0 auto;
	color : black;
	width: 500px;
}

form input {
	border-top: 1px solid grey;
}

form input[type=submit] {
	width: 80px;
	height: 50px;
}