* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

main {
	background-color: white;
	border : 2px solid grey;
	margin : 0 auto;
	color : black;
	width: 800px;
}

form input {
	border-top: 1px solid grey;
}

form input[type="submit"] {

}

form input[type="submit"]:hover {

}

form input:not([type="submit"]) {

}